# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# VS Code
.vscode/

# Data & outputs
data/raw/
data/processed/
outputs/
logs/

# OS
.DS_Store
Thumbs.db


datasets/
*.zip
*.tar.gz

data/raw/
data/processed/
datasets/
*.zip

*.pth
outputs/



